@using Microsoft.AspNetCore.Mvc.Localization
@model FinalThesis.MVC.ViewModels.VMCountry

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["Details"];
}

<div class="d-flex justify-content-center">
    <div class="card mt-4 shadow-sm" style="max-width: 600px; width: 100%; border-radius: 10px;">
        <div class="card-header bg-primary text-white" style="border-radius 10px 10px 0 0;">
            <h3 class="mb-0">@Html.DisplayFor(model => model.ShortNameHr)</h3>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-4">@Localizer["OfficialName"]</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.DisplayOfficialNameHr)</dd>

                <dt class="col-sm-4">@Localizer["CountryName"]</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.ShortNameEn)</dd>

                <dt class="col-sm-4">@Localizer["OfficialNameEng"]</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.DisplayOfficialNameEn)</dd>

                <dt class="col-sm-4">@Localizer["TwoLettersCode"]</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.TwoLetterCode)</dd>

                <dt class="col-sm-4">@Localizer["ThreeLettersCode"]</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.ThreeLetterCode)<dd>

                <dt class="col-sm-4">@Localizer["NumericCode"]</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.NumericCode)</dd>

                <dt class="col-sm-4">@Localizer["Note"]</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.DisplayNote)</dd>

                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.IsEUmember)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.IsEUmember)</dd>
            </dl>

            @if (Model.CurrencyName != null)
            {
                <div class="mt-4">
                    <h4>@Localizer["CurrencyInfo"]</h4>
                    <dl class="row">
                        <dt class="col-sm-4">@Localizer["Currency"]:</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.CurrencyName)</dd>
                    </dl>
                </div>
            }
            else
            {
                <p>@Localizer["NoCurrency"]</p>
            }

            <div class="mt-4">
                <h4>@Localizer["AssociatedCities"]</h4>
                @if (Model.Cities != null && Model.Cities.Any())
                {
                    <table id="sortableTable" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th>City Name</th>
                                <th>Zip Code</th>
                                <th>IBAN for Tax</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var city in Model.Cities)
                            {
                                <tr data-id="@city.IDCity" class="clickable-row">
                                    <td>@Html.DisplayFor(_ => city.CityName)</td>
                                    <td>@Html.DisplayFor(_ => city.DisplayZipCode)</td>
                                    <td>@Html.DisplayFor(_ => city.DisplayIbanForTax)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <p>@Localizer["NoCities"]</p>
                }

                <div class="mt-3">
                    <a asp-action="Create" asp-controller="City" asp-route-IDCountry="@Model.IDCountry" 
                    asp-route-returnUrl="@Url.Action("Details", "Country", new { id = Model.IDCountry })" 
                    class="btn btn-success">
                        @Localizer["AddCity"]
                    </a>
                </div>
            </div>
        </div>
        <div class="card-footer d-flex justify-content-between">
            <a asp-action="Index" class="btn btn-secondary">@Localizer["BackToList"]</a>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            var table = $('#sortableTable').DataTable({
                colReorder: true,
                paging: true,
                searching: true,
                info: true,
                ordering: true,
                autoWidth: true,
                scrollCollapse: true,
                scrollY: '20vh'
            });

            $('#sortableTable tbody').on('click', '.clickable-row', function (e) {
                var id = $(this).data("id");
                window.location.href = '/City/Details/' + id;
            });
        });
    </script>
}